/* CSS Document */
body{padding:0px; margin:0px; background:url(images/mainbg.jpg) 0 0 repeat-x #fff; color:#666; font:14px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;}
div, p, ul, h2, img{padding:0px; margin:0px;}
ul{list-style-type:none;}
a{background:#fff; color:#000; text-decoration:none;}
a:hover{background:#fff; color:#666; text-decoration:underline;} 

/*----TOP PANEL----*/
#topPan{width:978px; height:87px; position:relative; margin:0 auto;}
#topPan #ImgPan{width:229px; height:52px; background:#fff; color:#666; position:absolute; top:35px; left:0px; padding:0 0 0 35px;}
#topPan #ImgPan img{width:201px; height:52px;}


#topPan ul{width 668px; height:32px; position:absolute; top:43px; right:45px;}
#topPan ul li{width:78px; height:32px; float:left;}
#topPan ul li a{width:76px; height:32px; display:block; background:url(images/topmenu-normal.jpg) 0 0 no-repeat #F5F4F4; color:#666; text-decoration:none; font-size:12px; font-weight:bold; text-align:center; line-height:32px; margin:0 2px 0 0;}
#topPan ul li a:hover{background:url(images/topmenu-hover.jpg) 0 0 no-repeat #F5F4F4; color:#fff; text-decoration:none;}

#topPan ul li.home{background:url(images/topmenu-hover.jpg) 0 0 no-repeat #F5F4F4; color:#fff; text-decoration:none; font-size:12px; font-weight:bold; text-align:center; line-height:32px;}
/*----/TOP PANEL----*/
/*----BODY PANEL----*/
#bodyPan{width:900px; position:relative; margin:0 auto;}
#bodyPan p.toptextpadding{padding:25px 0 0;}
#bodyPan p span{background:#fff; color:#D20039;}
#bodyPan p.more{width:131px; height:22px; display:block; margin:0 0 0 806px; background:url(images/more-bg.gif) 0 0 no-repeat;}
#bodyPan p.more a{width:220px; height:22px; display:block; background:url(images/arrow1.jpg) 1% 60% no-repeat; line-height:22px; text-decoration:none; padding:0 0 0 11px;}
#bodyPan p.more a:hover{background:url(images/arrow2.jpg) 1% 60% no-repeat; text-decoration:none;}
/*----Body Middle Panel----*/
#bodyMiddlePan{width:889px; position:relative; margin:0 auto;}
/*----Middle Left Panel----*/
#MiddleLeftPan{width:282px; float:left;}
#MiddleLeftPan p{padding:14px 0 0; line-height:18px;}

#MiddleLeftPan p.largegraytext{font-size:20px;}

#MiddleLeftPan p.more{width:131px; height:22px; display:block; margin:15px 0 0 195px; background:url(images/more-bg.jpg) 0 0 no-repeat; padding:0px;}
#MiddleLeftPan p.more a{width:120px; height:22px; display:block; background:url(images/arrow1.jpg) 1% 60% no-repeat; line-height:22px; text-decoration:none; padding:0 0 0 11px;}
#MiddleLeftPan p.more a:hover{background:url(images/arrow2.jpg) 1% 60% no-repeat; text-decoration:none;}

#MiddleLeftPan p.chat{width:202px; height:100px; padding:14px 0 36px;}
#MiddleLeftPan p.chat a{width:202px; height:100px; display:block; background:url(images/SBO.jpg) 0 0 no-repeat; text-indent:-20000px;}
#MiddleLeftPan p.chat a:hover{background:url(images/SBO.jpg) 0 0 no-repeat; text-indent:-20000px;}

#MiddleLeftPan h2{width:260px; height:50px; display:block; background:url(images/icon1.jpg) 100% 0 no-repeat  #fff; color:#D20039; border-bottom:1px dashed #BDB9B9; font-size:24px; line-height:22px; padding:0 20px 0 0;}
#MiddleLeftPan h2 span{background:#fff; color:#545454; font-weight:bold; font-size:14px; text-transform:uppercase;}

/*----/Middle Left Panel----*/
/*----Middle Right Panel----*/
#MiddleRightPan{width:534px; float:left; padding:0 0 0 73px;}
#MiddleRightTopPan{width:534px; height:203px; background:url(images/graph.jpg) 0 0 no-repeat; padding:29px 0 0; margin:0 0 40px 0;}

#MiddleRightTopPan p.fresh{width:378px; height:34px; display:block; margin: 30; font-size:26px;font-weight:bold; color:#ffffff; text-align:right;}
#MiddleRightTopPan p.business{width:428px; height:34px; display:block; margin:30; color:#ffffff; font-weight:bold;font-size:27px; text-align:right;}

#MiddleRightPan h2{width:528px; height:20px; background:url(images/dotline.jpg) 0 100% repeat-x #fff; color:#6BB600; font-size:24px;}
#MiddleRightPan p{padding:8px 0 0;}

#RightListfastPan{width:250px; float:left; padding:10px 0 0;}
#RightListfastPan ul{width:250px;}
#RightListfastPan ul li{width:250px; height:20px; float:left;}
#RightListfastPan ul li a{width:250px; line-height:20px; background:url(images/bullet.jpg) 0 6px no-repeat #fff; color:#666; text-decoration:underline; padding:0 0 0 18px;}
#RightListfastPan ul li a:hover{background:url(images/bullet-hover.jpg) 0 6px no-repeat #fff; color:#000; text-decoration:underline;}

#RightListnextPan{width:250px; float:left; padding:10px 0 0;}
#RightListnextPan ul{width:250px;}
#RightListnextPan ul li{width:250px; height:20px; float:left;}
#RightListnextPan ul li a{width:250px; line-height:20px; background:url(images/bullet.jpg) 0 6px no-repeat #fff; color:#666; text-decoration:underline; padding:0 0 0 18px;}
#RightListnextPan ul li a:hover{background:url(images/bullet-hover.jpg) 0 6px no-repeat #fff; color:#000; text-decoration:underline;}

/*----/Middle Right Panel----*/

/*----Footer Panel----*/
#footermainPan{background:url(images/footerbg.jpg) 0 0 repeat-x #F4F4F4; color:#212121; position:relative; margin:0 auto; height:133px; clear:both;}
#footerPan{width:989px; position:relative; margin:0 auto; font:12px/15px "Trebuchet MS",Arial, Helvetica, sans-serif; font-weight:normal; padding:15px 0 0;}

#footerPan ul{width:600px; height:20px; position:relative; margin:0 auto;}
#footerPan li{float:left; }
#footerPan ul li a{padding:0 10px 0; color:#212121; background:#F4F4F4; text-decoration:none;}
#footerPan ul li a:hover{text-decoration:underline;}

#footerPan p.copyright{width:450px; background:#F4F4F4; color:#212121; position:relative; margin:0 auto; text-align:center;}

#footerPanhtml{width:64px; height:19px; display:block; position:absolute; top:73px; left:270px;}
#footerPanhtml a{width:59px; height:18px; background:#fff; color:#6A6A6A; border:1px solid #B6B6B6; display:block; position:absolute; top:0px; left:0px; line-height:19px; text-align:center; font-weight:bold; text-transform:uppercase; text-decoration:none;}
#footerPanhtml a:hover{background:#D2D0D0; color:#353427; text-decoration:none;}

#footerPancss{width:64px; height:19px; display:block; position:absolute; top:73px; left:336px;}
#footerPancss a{width:49px; height:18px; background:#fff; border:1px solid #B6B6B6; color:#6A6A6A; display:block; position:absolute; top:0px; left:0px;line-height:19px; text-transform:uppercase; font-weight:bold; text-align:center; text-decoration:none;}
#footerPancss a:hover{background:#D2D0D0; color:#353427; text-decoration:none;}
